[submodule "src/config/vim/bundle/vim-colors-solarized"]
	path = src/config/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "src/config/vim/bundle/vim-coffee-script"]
	path = src/config/vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "src/config/vim/bundle/ctrlp.vim"]
	path = src/config/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "src/config/vim/bundle/vim-easymotion"]
	path = src/config/vim/bundle/vim-easymotion
	url = https://github.com/mtth/vim-easymotion.git
[submodule "src/config/vim/bundle/vim-fugitive"]
	path = src/config/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "src/config/vim/bundle/LaTeX-Box"]
	path = src/config/vim/bundle/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "src/config/vim/bundle/locate.vim"]
	path = src/config/vim/bundle/locate.vim
	url = https://github.com/mtth/locate.vim.git
[submodule "src/config/vim/bundle/scratch.vim"]
	path = src/config/vim/bundle/scratch.vim
	url = https://github.com/mtth/scratch.vim.git
[submodule "src/config/vim/bundle/vim-surround"]
	path = src/config/vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "src/config/vim/bundle/tabular"]
	path = src/config/vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "src/config/vim/bundle/taglist.vim"]
	path = src/config/vim/bundle/taglist.vim
	url = https://github.com/mtth/taglist.vim.git
[submodule "src/config/vim/bundle/syntastic"]
	path = src/config/vim/bundle/syntastic
	url = https://github.com/mtth/syntastic.git
[submodule "src/config/vim/bundle/vim-virtualenv"]
	path = src/config/vim/bundle/vim-virtualenv
	url = https://github.com/mtth/vim-virtualenv.git
[submodule "src/config/vim/bundle/ultisnips"]
	path = src/config/vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "src/config/vim/bundle/vim-indent-object"]
	path = src/config/vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "src/config/vim/bundle/cursorcross.vim"]
	path = src/config/vim/bundle/cursorcross.vim
	url = https://github.com/mtth/cursorcross.vim.git
[submodule "src/config/vim/bundle/jedi-vim"]
	path = src/config/vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "src/config/vim/bundle/vim-haml"]
	path = src/config/vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "src/config/vim/bundle/vim-stylus"]
	path = src/config/vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
