[submodule ".vim/bundle/colorschemes/solarized"]
	path = .vim/bundle/colorschemes/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/plugins/scratch"]
	path = .vim/bundle/plugins/scratch
	url = https://github.com/mtth/scratch.vim.git
[submodule ".vim/bundle/plugins/taglist"]
	path = .vim/bundle/plugins/taglist
	url = https://github.com/mtth/taglist.vim.git
[submodule ".vim/bundle/plugins/cursorcross"]
	path = .vim/bundle/plugins/cursorcross
	url = https://github.com/mtth/cursorcross.vim.git
[submodule ".vim/bundle/plugins/tabular"]
	path = .vim/bundle/plugins/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/plugins/latexbox"]
	path = .vim/bundle/plugins/latexbox
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule ".vim/bundle/plugins/ctrlp"]
	path = .vim/bundle/plugins/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/plugins/easymotion"]
	path = .vim/bundle/plugins/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/plugins/nerdtree"]
	path = .vim/bundle/plugins/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/plugins/fugitive"]
	path = .vim/bundle/plugins/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/plugins/gundo"]
	path = .vim/bundle/plugins/gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/colorschemes/molokai"]
	path = .vim/bundle/colorschemes/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/plugins/surround"]
	path = .vim/bundle/plugins/surround
	url = https://github.com/tpope/vim-surround.git
