snippet !!! "Doctype and header" b
!!!
%html
	%head
		%title ${2:Hello world!}
	%body$0
endsnippet

snippet make "Make options" b
-# `!p
if fn.rsplit('.', 1)[1] == 'hamlc':
	snip.rv = '--input % --output %:r.jst'
else:
	snip.rv = '% %:r.html'`$0
endsnippet
